In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.3-cp39-cp39-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp39-cp39-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 41.1 MB/s  0:00:006m0:00:01
Downloading numpy-2.0.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.5/19.5 MB 31.5 MB/s  0:00:006m0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.0.2 pandas-2.3.3 pytz-2025.2 tzdata-2025.2

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv', encoding='utf8')

In [4]:
def c2(x):
    n=int(x[4])
    s= n*101**2+2*101+23
    s1=n*100**2+2*100+23
    sr=(s-s1)
    return float(sr)

In [5]:
df["Punto 2"]=df.apply(c2,axis=1)

/tmp/ipykernel_4130/2226230627.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n=int(x[4])

In [6]:
def calificacion2(x):
    n=int(x[2])
    n1=int(x[7])
    if n!=n1:
        return 1
    else:
        return 5

In [7]:
df["Calificacion P2"] = df.apply(calificacion2,axis=1)

/tmp/ipykernel_4130/1015351104.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n=int(x[2])
/tmp/ipykernel_4130/1015351104.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n1=int(x[7])

In [8]:
df.iloc[:, 3] = df.iloc[:, 3].astype(str).str.replace(',','.').astype(float)

In [9]:
df.iloc[:, 3] = df.iloc[:, 3].astype(float)

In [10]:
df['Punto 3'] = df['n'].apply(lambda x:(((x*100*2) + (2)))/(101-100))

In [12]:
def calificacion3(x):
    pri = int(x[3])
    seg = int(x[9])
    if pri != seg:
        return 1
    else:
        return 5

In [13]:
df['Calificacion P3'] = df.apply(calificacion3,axis = 1)

/tmp/ipykernel_4130/590274460.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  pri = int(x[3])
/tmp/ipykernel_4130/590274460.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  seg = int(x[9])

In [14]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,Calificación P1,Punto 2,Calificacion P2,Punto 3,Calificacion P3
0,1021674384,7382.000,7238.000,7202.0,36,7382.0,5,7238.0,5,7202.0,5
1,1028481694,8817.000,8645.000,8602.0,43,8817.0,5,8645.0,5,8602.0,5
2,1012976628,8612.000,8444.000,8402.0,42,8612.0,5,8444.0,5,8402.0,5
3,1103500518,4922.000,4826.000,4802.0,24,4922.0,5,4826.0,5,4802.0,5
4,1141316451,5537.000,5429.000,5402.0,27,5537.0,5,5429.0,5,5402.0,5
5,1127228530,6357.000,6233.000,6202.0,31,6357.0,5,6233.0,5,6202.0,5
6,1000794960,7382.000,7238.000,2.0,36,7382.0,5,7238.0,5,7202.0,1
7,1019606644,389866.330,3739.230,7402.0,37,7587.0,1,7439.0,1,7402.0,5
8,1104224296,6356.600,6233.000,62.0,31,6357.0,1,6233.0,5,6202.0,1
9,1094049572,8407.000,8243.000,8202.0,41,8407.0,5,8243.0,5,8202.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1
11,1028485597,10047.000,9851.000,2.0,49,10047.0,5,9851.0,5,9802.0,1
12,1013037578,7177.000,7037.000,7002.0,35,7177.0,5,7037.0,5,7002.0,5
13,1113364165,6357.000,6233.000,6202.0,31,6357.0,5,6233.0,5,6202.0,5
14,1140914656,7587.000,7439.000,76.0,37,7587.0,5,7439.0,5,7402.0,1
15,1011095164,5740.000,5620.000,5600.0,28,5742.0,1,5630.0,1,5602.0,1
16,1193231792,175.000,152.000,1.0,38,7792.0,1,7640.0,1,7602.0,1
17,1077228324,7382.000,7238.000,366.82,36,7382.0,5,7238.0,5,7202.0,1

In [15]:
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index = False)